IIS-core-backend/src/main/resources/schemas/soap-operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://algebra.hr/iisbackend/soap"
           targetNamespace="http://algebra.hr/iisbackend/soap"
           elementFormDefault="qualified">

    <xs:element name="GetColorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="searchTerm" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetColorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>